.digit {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    width: 14.8rem;
    height: 15.2rem;
    background-color: $very-dark-blue-2;
    border-radius: 0.8rem;
    display: grid;
    grid-template-rows: 0.2rem 7rem 0.05rem 7rem;
  }

  &__top-half-container {
    grid-row: 2/3;
    position: relative;
    perspective: 70rem;
  }

  &__bottom-half-container {
    grid-row: 4/5;
    position: relative;
    perspective: 70rem;
  }

  &__top-fix,
  &__top-flip,
  &__bottom-flip,
  &__bottom-fix {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__top-flip {
    transform: rotateX(0deg);
    transform-origin: bottom;
  }

  &__bottom-flip {
    transform: rotateX(87deg);
    transform-origin: top;
  }

  &__top,
  &__bottom {
    width: 14.8rem;
    height: 7rem;
    position: relative;
    font-family: $font-family-numbers;
    @include font(8.4rem, $soft-red, 1, $font-weight-num);
  }

  &__top {
    mask-image: url("/clock/tab-top.svg");
    mask-repeat: no-repeat;
    -webkit-mask-image: url("/clock/tab-top.svg");
    -webkit-mask-repeat: no-repeat;
    background-color: $greyish-blue;
  }

  &__bottom {
    mask-image: url("/clock/tab-bottom.svg");
    mask-repeat: no-repeat;
    -webkit-mask-image: url("/clock/tab-bottom.svg");
    -webkit-mask-repeat: no-repeat;
    background-color: $greyish-blue;
  }

  &__label {
    margin-top: 1.9rem;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    @include font(1.4rem, $grayish-blue, 1, $font-weight-bold);
  }
}

.number-top,
.number-bottom {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
}

.number-top {
  top: 2.8rem;
  filter: brightness(0.93);
}

.number-bottom {
  bottom: 2.7rem;
}

.number-top::after {
  content: "";
  position: absolute;
  top: -2.8rem;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 7rem;
}

.number-bottom::after {
  content: "";
  position: absolute;
  bottom: 2.8rem;
  left: 0;
  background-color: rgba(138, 132, 177, 0.03);
  width: 100%;
  height: 1.5rem;
  border-top: 0.1rem solid rgba(34, 35, 47, 0.45);
}
