/* Typography */

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

$font-family-content: "Rubik", sans-serif;
$font-family-numbers: "Righteous", cursive;

$font-size-basic: 10px;

$font-weight-regular: 500;

/* Layout */

$width-mobile: 375px;
$width-desktop: 1440px;
$width-switch-point: 760px;

$height-footer: 19.7rem;
$height-footer-mobile: 16.8rem;

/* Colors */

$grayish-blue: #8486a9;
$soft-red: #fb6087;
$aqua: #10eeee;

$white: #dfdef7;
$greyish-blue: #343650;
$very-dark-blue-1: #1e1f29;
$very-dark-blue-2: #191a24;

/* Transition time */

$transition-x1: 0.2s;
